// Colors

$dark-purple: #2d132c;
$dark-red: #801336;
$soft-red: #c72c41;
$orange: #ee4540;


// Spacing
$xs-size: 0.8rem;
$s-size: 1.2rem;
$m-size: 2.6rem;
$l-size: 4.2rem;
$xl-size: 5.8rem;
$desktop-breakpoint: 45rem;